%li
  %h3
    %a{:href => article_path(article)}~ article.name
  %span.author
    = t('dashboard.by') + ' Administrator'
  %span.published_at
    = localize article.published_at
  - if article.abstract.blank?
    = textilize article.body
  - else
    = textilize article.abstract
    %a{:href => article_path(article)}~ t('dashboard.read_full_version')