- set_body_id :dashboard

%h2~ t('dashboard.heading')

%ol.sticky_articles
  - @sticky_articles.each do |article|
    %li
      = render :partial => 'articles/article', :locals => {:article => article}

%ol.articles
  - @articles.each do |article|
    %li
      = render :partial => 'articles/article', :locals => {:article => article}