# RubyMine project (private parts)
.idea/workspace.xml
.idea/tasks.xml
.idea/lilith.iml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/.generators
.idea/.rakeTasks
.idea/misc.xml
.idea/modules.xml

# NetBeans project (private parts)
nbproject/private

# Rails files
config/database.yml
config/initializers/secret_token.rb
db/*.sqlite3
db/schema.rb
db/development_structure.sql
doc/api
doc/app
log
tmp
.bundle

# Testing and coverage
.rspec
coverage

# Backup files (mostly Dia)
doc/plan/*\~
doc/plan/*.autosave

# Netbeansquatsch
nbproject

# SASS
*.sass-cache*
