-#Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.

%h1 Impressum

%p
  Free Software Lab
  %br
  Hochschule Bonn-Rhein-Sieg
  %br
  Grantham-Allee 20
  %br
  53757 Sankt Augustin (Germany)
  %br
  %br
  Tel: +49 (0)2241/865-0
  %br
  Fax: +49 (0)2241/865-609
  %br
  %h2 Anpresspartner
  Programmierung: Alexander E. Fischer afisc12s <at> inf.h-brs.de
  %br
  Hosting: Daniel Meißner dmeiss2s <at> inf.h-brs.de
  %br
  %br
  Weitere Informationen: 
  %a{ :href => "http://www.h-bonn-rhein-sieg.de/impressum.html", :target => "_blank" } Impressum der Hochschule
 
