// Copyright Alexander E. Fischer <aef@raxys.net>, 2011
//
// This file is part of Lilith.
//
// Lilith is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Lilith is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
#people {

    div.actions {
        display: inline-block;
        float: right;
    }

    input[type=text], textarea {
        width: 550px;
    }

    table {
        margin: 10px 0 0 0;
        border: solid 1px #000;
        border-radius: 5px;
        -moz-border-radius: 5px;
        border-spacing: 0;
        width: 100%;

        .actions {
            width: 100px;
        }

        caption {
            font-variant: small-caps;
            margin-bottom: 5px;
        }

        thead {
            background-color: #000;
            color: #fff;

            th {
                text-align: center;
            }
        }

        tbody {
            td {
                padding: 2px;
            }

            tr.even {
                background-color: #dfdfdf;
            }

            tr:hover td {
                background-color: #d6eeff;
            }

            tr:last-child td {
                border-radius: 0 0 5px 5px;
                -moz-border-radius: 0 0 5px 5px;
            }

            }

            td.actions {
                a {
                    display: block;
                    float: none;
                }
            }


            td.count {
                background-color: black;
                color: white;
                text-align: center;
            }

            td.count:hover {
                background-color: black;
            }
        }

}
