%li.article
  %span.name~ article.name
  %span.published_at~ article.published_at
  .body~ article.body
  
  .options
    %a{:href => article_path(article)}~ t('article.show')
    %a{:href => edit_article_path(article)}~ t('article.edit')
    %a{:href => delete_article_path(article)}~ t('article.delete')
    
