#articles {

    div.actions {
        display: inline-block;
        float: right;
    }

    input[type=text], textarea {
        width: 550px;
    }

    table {
        margin: 10px 0 0 0;
        border: solid 1px #000;
        border-radius: 5px;
        -moz-border-radius: 5px;
        border-spacing: 0;
        width: 100%;

        .sticky {
            width: 100px;
        }

        .dates {
            width: 150px;
        }

        .actions {
            width: 100px;
        }

        caption {
            font-variant: small-caps;
            margin-bottom: 5px;
        }

        thead {
            background-color: #000;
            color: #fff;

            th {
                text-align: center;
            }
        }

        tbody {
            td {
                padding: 5px;
            }

            tr.even {
                background-color: #dfdfdf;
            }

            tr:hover td {
                background-color: #d6eeff;
            }

            tr:last-child td {
                border-radius: 0 0 5px 5px;
                -moz-border-radius: 0 0 5px 5px;
            }

            td.sticky {
                text-align: center;
            }

            td.dates {
                text-align: center;
                span {
                    display: block;
                    float: none;
                }
            }

            td.actions {
                a {
                    display: block;
                    float: none;
                }
            }

        }
    }

    .published_at {
        float: right;
    }

}
