%form{:action => article_path(@article), :method => 'POST'}
  %input{:type => 'hidden', :name => '_method', :value => 'DELETE'}

  %p
    Artikel wirklich löschen?
    
  %input{:type => 'submit', :value => 'löschen'}
