#imprint {
    #main {
        .telephone {
            padding: 0;

            li {
                list-style: none;
            }

            .name {
                display: inline-block;
                width: 30px;
            }

            .country_code {
                display: inline-block;
                width: 30px;
            }

            .area_code {
                display: inline-block;
                width: 35px;
            }

            .local_code {
                display: inline-block;
                width: 25px;
            }
        }
    }
}
