body {
  width:600px;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-image: url("../images/background.png");

  a:link { 
    text-decoration: none;
    color: #0099FF;
    font-weight: bold;
  }
  
  a:link { 
    text-decoration: none;
    color: #0099FF;
    font-weight: bold;
  }
  a:visited { 
    text-decoration: none;
    color: #0099FF;
    font-weight: bold;
  }
  
  a:hover { 
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  a:active { 
    text-decoration: none;
    color: #0099FF;
    font-weight: bold;
  }
}

#header {
  -moz-border-radius:5px 5px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid black;
  padding: 5px 0px 0px 20px;
  text-align: left; 
  color: white;
  height: 55px;
  line-height: 0.5;
  
  h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 0;
  }
}

#main {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background-color: white;
  margin-top: 0em;
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  text-align: left; 
  vertical-align:middle;
  h1 {
    line-height: 0.5;
  }
  h2 {
    line-height: 0.5;
  }
}

#footer {
  -moz-border-radius:0px 0px 5px 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid black;
  padding: 5px 0px 5px 20px;
  text-align: left; 
  color: white;
  height: 5px;
}
