html, body {
  padding: 0;
  margin: 0;
  color: black;
  background-image: url("../images/background.png");

  .clear {
    float: clear;
  }
}

input[type=text], textarea {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
}

img {
    border: none;
}

.center {
    text-align: center;
}

input[type=text]:focus, textarea:focus,
input[type=text]:hover, textarea:hover {
    background-color: #d6eeff;
}

#ie_warning
{
  width: 100%;
  height: 24px;
  background-color: #ff1f1f;
  color: white;
  position: fixed;
  z-index: 1000;
  top: 0px;
  padding-top: 2px;
  overflow: hidden;
  text-align: center;
  border-bottom: solid 1px black;

  a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: black;
  }
}

#container {
  padding-top: 35px;
  padding-bottom: 5px;
  width:600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #0099FF;
    font-weight: bold;
  }

  a:hover {
    color: black;
  }
}

#header {
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid black;
  padding: 5px 5px 0px 20px;
  text-align: left;
  color: white;
  height: 55px;
  line-height: 0.5;

  #special_version_sign {
    position: relative;
    top: -70px;
    left: 530px;
    width: 70px;
    height: 70px;
    z-index: 1100;
  }

  h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 0;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
  }

  a:hover { 
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

#menu {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background-color: #DFDFDF;
  margin-top: 0em;
  border: 1px solid black;
  border-top: 0px solid black;
  border-right: 1px solid black;
  border-bottom: 0px solid black;
  border-left: 1px solid black;
  padding: 8px 10px 5px 10px;
  text-align: right; 
  vertical-align:middle;

  form.semester {
    display: inline-block;
    margin: auto;
  }

  span.sections {
    display: inline-block;
    margin: 0 40px 0 0;
    float: left;
  }

  span.language {
    display: inline-block;
    margin: 0 0 0 40px;
    float: right;
  }
}

#main {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  background-color: white;
  margin-top: 0em;
  border: 1px solid black;
  border-top: 0px solid black;
  border-right: 1px solid black;
  border-bottom: 0px solid black;
  border-left: 1px solid black;
  padding: 10px;
  text-align: left; 
  vertical-align:middle;

  > * {
    margin-left: 10px;
    margin-right: 10px;
  }

  h1 {
    line-height: 0.5;
  }
  h2 {
    line-height: 0.5;
  }

  #error {
        background-color: #ff1f1f;
  }

}

#footer {
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid black;
  padding: 5px 0px 5px 20px;
  color: white;
  height: 12px;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
  }

  a:hover {
    color: #fff;
  }
}

#imprint {
    #main {
        .telephone {
            padding: 0;

            li {
                list-style: none;
            }

            .name {
                display: inline-block;
                width: 30px;
            }

            .country_code {
                display: inline-block;
                width: 30px;
            }

            .area_code {
                display: inline-block;
                width: 35px;
            }

            .local_code {
                display: inline-block;
                width: 25px;
            }
        }
    }
}

#schedule {
    ul {
        padding: 0;

        ul {
            padding-left: 20px;
        }

        ul.events {
            padding-left: 35px;
        }

        li {
            list-style: none;
        }
    }

    .navigation {

        table {
            border-spacing: 0;

            tr:hover td {
                background-color: #d8efff;
            }

            td.program {
                padding-right: 20px;
            }

            td.units {
                padding-right: 10px;
            }
        }
    }

    .controls {
        float: right;
        text-align: right;

        select {
            width: 150px;
        }
    }
}

#articles {
    input[type=text], textarea {
        width: 550px;
    }
}

#dashboard {
    ol {
        list-style: none;

        margin-left: 0;
        margin-right: 0;
        padding: 5px;

        li {

            h3 {
                a:link, a:visited, a:hover, a:active {
                    color: #000;
                }

                .type {
                    display: inline-block;
                    padding: 1px;
                    border: #ff9900 solid 1px;
                    background-color: #f0db4c;
                    font-size: 9pt;
                    font-variant: small-caps;
                    font-weight: normal;
                }

                display: inline-block;
                margin: 0;
            }

            .published_at, .author {
                margin-left: 5px;
                float: right;
            }

            margin-top: 5px;
            padding: 5px;
            border: 1px solid #000;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    }

    .sticky_articles {
        li {
            //background-color: #9ed8ff;
        }
    }
}