// Copyright Alexander E. Fischer <aef@raxys.net>, 2011
//
// This file is part of Lilith.
//
// Lilith is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Lilith is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
#schedules {
    .navigation {

        table {
            border-spacing: 0;

            tr:hover td {
                background-color: #d8efff;
            }

            td.program {
                padding-right: 20px;
            }

            td.units {
                padding-right: 10px;
            }
        }
    }

    .controls {
        float: right;
        text-align: right;

        select {
            width: 150px;
        }
    }

    .filters {
        margin-top: 20px;

        input {
            width: 90%;
        }
    }

    .study_unit {

        margin-top: 20px;

        .back_to_top {
            display: inline-block;
            float: right;
        }

        h3 {
           margin: 0;
           display: inline-block;
           float: left;
        }
        
    }

    ul.courses {
        padding: 0;

        li {
            list-style: none;
            font-size: 11pt;
            margin-top: 10px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            text-align: center;
        }

        > li {

            background-color: #0099FF;
            color: #fff;
            padding-top: 3px;

            h4 {
                margin: 0;
            }

            ul.groups {

                width: 100%;
                padding: 0;
                display: inline-table;
                border-spacing: 5px;

                li {
                    border: 2px solid #fff;
                    background-color: #fff;
                    color: #000;
                    padding: 3px;
                    display: table-cell;

                    label {
                        display: block;
                    }

                    .group_prefix {
                        display: none;
                    }

                }

                li:hover {
                    background-color: #d6eeff;
                    border-color: #d6eeff;
                }

                li.selected {
                    background-color: #fccb03;
                }

            }

        }

    }

}
