-#Copyright Alexander E. Fischer <aef@raxys.net>, 2011
-#
-# This file is part of Lilith.
-#
-# Lilith is free software: you can redistribute it and/or modify
-# it under the terms of the GNU General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# Lilith is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU General Public License for more details.
-#
-# You should have received a copy of the GNU General Public License
-# along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
- set_body_id :schedule
%h2~ t('schedules.schedule_composition')

%form{:action => semester_schedules_path(@semester.token)}
  %h3~ t('schedules.navigation')

  .controls
    %p
      %label{:for => 'schedule_id'}~ t('schedules.actuality') + ': '
      %select{:id => 'schedule_id', :name => 'schedule_id'}
        = options_for_select @schedules.map{|schedule| [l(schedule.created_at), schedule.id]}, @schedules.first.id
    %p
      %label{:for => 'format'}~ t('schedules.format') + ': '
      %select{:id => 'format', :name => 'format'}
        %option{:value => 'ics'} iCalendar
        %option{:value => 'xml'} XML
    = submit_tag t('schedules.generate'), :name => nil

  -# Generate navigation index
  .navigation
    %table
      %tbody
        - @study_units.group_by(&:program).each do |program, study_units|
          %tr
            %td.program~ program
            %td.units
              - study_units.each do |study_unit|
                %a{:href => "##{URI.escape(study_unit.name.gsub(/ /, '+'))}"}~ study_unit.position

  -# Generate sections
  .study_units
    - @study_units.each do |study_unit|
      = render study_unit