/* Copyright Alexander E. Fischer <aef@raxys.net>, 2011
 *
 * This file is part of Lilith.
 *
 * Lilith is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Lilith is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Lilith.  If not, see <http://www.gnu.org/licenses/>.
 */
@import 'imprint/imprint';
@import 'session/session';
@import 'dashboard/dashboard';
@import 'articles/articles';
@import 'schedules/schedules';
@import 'people/people';

html, body {
  padding: 0;
  margin: 0;
  color: black;
  background-image: url("/images/background.png");
  background-attachment: fixed;

  .clear {
    clear: both;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #0099FF;
    font-weight: bold;
  }

  a:hover {
    color: black;
  }
}

input[type=text], input[type=password], textarea {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;

    &:hover, &:focus {
        background-color: #d6eeff;
    }
}

div.field_with_errors {
    input[type=text], input[type=password], textarea {
        background-color: #fbb;

        &:hover {
            background-color: #faa;
        }
    }
}

img {
    border: none;
}

noscript {
    color: #f00;
}

#ie_warning
{
  width: 100%;
  height: 24px;
  background-color: #ff1f1f;
  color: white;
  position: fixed;
  z-index: 1000;
  top: 0px;
  padding-top: 2px;
  overflow: hidden;
  text-align: center;
  border-bottom: solid 1px black;

  a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: black;
  }
}

#notification
{
  width: 100%;
  height: 24px;
  background-color: #fccb03;
  color: black;
  position: fixed;
  z-index: 1001;
  top: 0px;
  padding-top: 2px;
  overflow: hidden;
  text-align: center;
  border-bottom: solid 1px black;

  a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: black;
  }
}

#container {
  padding-top: 35px;
  padding-bottom: 5px;
  width:600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#header {
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid black;
  padding: 5px 5px 0px 20px;
  text-align: left;
  color: white;
  height: 55px;
  line-height: 0.5;

  #special_version_sign {
    position: relative;
    top: -70px;
    left: 530px;
    width: 70px;
    height: 70px;
    z-index: 1100;
  }

  h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 0;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #fff;
  }

  a:hover { 
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

#menubar {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #DFDFDF;
    margin-top: 0em;
    border: 1px solid black;
    border-top: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 0px solid black;
    border-left: 1px solid black;
    padding: 0px 10px 0px 10px;
    text-align: right;
    vertical-align:middle;
    height: 28px;
    
    .sections {
        float: left;

        li {
            padding-right: 3px;
        }
    }

    .current_user {
        margin-right: 5px;
        display: inline-block;
        padding: 6px 0px 0px;
        font-weight: normal;
    }

    #language, #login {
        float: right;
        border: none;
        li {
            padding-left: 3px;
        }
    }
    
    .menu {
      position: relative;
      top: 0px;
      left: 0px;
      height: 28px;
      width: 100%;
      display: block;
      margin: 0px;
      padding: 0px;
      
      a {
        display: block;
        height: 100%;
      }
      
      li {
        color: #0099FF;
        width: 110px;
        height: 22px;
        left: 0px;
        top: 0px;
        padding: 6px 0px 0px;
        
        float: left;    
        list-style-type: none;
        text-align: center;
        
        
        ul {  display: none; }
        
        &:hover {
          background-color: #DFDFDF + #101010;
          color: #000;
          
          ul {
            display: block;
          
            li {
              ul {  display: none;  }
              &:hover {
                ul {
                  display: block;
                
                  li {
                    ul {  display: none;  }
                    &:hover {
                      ul {
                        display: block;
                      
                        li {
                          ul {  display: none;  }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      
      ul {
        position: relative;
        margin: 0px;
        padding: 0px;
        top: 8px;
        left: -1px;
        list-style-type: none;
        
        li {
          padding: 2px 0px 0px;
          height: 18px;
          border: 1px solid #fff;
          background-color: #DFDFDF;  
          
          ul {
            top: -21px;
            left: 111px;  
            
            li {
              ul {
                top: -18px;
              }
            }
          }
        }
      }
    }
    

}

#main {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-color: white;
    margin-top: 0em;
    border: 1px solid black;
    border-top: 0px solid black;
    border-right: 1px solid black;
    border-bottom: 0px solid black;
    border-left: 1px solid black;
    padding: 10px;
    text-align: left;
    vertical-align: middle;

    > * {
        margin-left: 10px;
        margin-right: 10px;
    }

    h1 {
        line-height: 0.5;
    }

    h2 {
        line-height: 0.5;
    }

    #error {
        background-color: #ff1f1f;
    }

    .errors {
        p {
            font-weight: bold;
        }

        color: red;
    }
}

#footer {
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid black;
  padding: 5px 0px 5px 20px;
  color: white;
  height: 12px;

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
  }

  a:hover {
    color: #fff;
  }
}

.article {
    h3 {
        a:link, a:visited, a:hover, a:active {
            color: #000;
        }

        .type {
            display: inline-block;
            padding: 1px;
            border: #ff9900 solid 1px;
            background-color: #f0db4c;
            font-size: 9pt;
            font-variant: small-caps;
            font-weight: normal;
        }

        display: inline-block;
        margin: 0;
    }

    .published_at, .author, .last_edited {
        margin-left: 5px;
        float: right;
    }

}
