!!! XML
!!! 5

%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en'}
  %head
    %title Lilith
    %link{:rel => 'stylesheet',
          :href => 'stylesheet/application.css',
          :type => 'text/css'}
  %body
    = yield